<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>book list</title>
	<link rel="stylesheet" href="/navigation_styles.css">
</head>
<body>
	<div class="topnav">
        <a class="active" href="/home">Books list</a>
        <a href="/home/add_book">Add a book</a>
        <a href="/logout">Logout</a>
    </div>
	<table style="width:100%">
		<caption>book list</caption>
  		<thead>
   		 <tr>
      		<th>Book Name </th>
  			<th>ISBN number</th>
  			<th>Author</th>
  			<th>Edition</th>
  			<th>Publication</th>
            <th>Books available</th>
            <th>Delete book</th>
    	 </tr>
  		</thead>
  		<tbody>
    	 <% data.forEach(entry => { %>
      	  <tr>
        	<td><%= entry.book_name %></td>
        	<td><%= entry.isbn_number %></td>
        	<td><%= entry.author_name %></td>
        	<td><%= entry.book_edition %></td>
        	<td><%= entry.publication %></td>
            <td><%= entry.book_stocks %></td>
            <td><a href='/home/delete/<%= entry.b_id %>'>delete</a></td>
      	  </tr>
    	 <% }) %>  		
    	</tbody>
	</table>
</body>
</html>