<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
  border-collapse: collapse;
  text-align: center;
}
th, td {
  padding: 5px;
  text-align: center;
}
</style>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>book list</title>
</head>
<body>
	<table style="width:100%">
		<caption>book list</caption>
  		<thead>
   		 <tr>
      		<th>Book Id</th>
      		<th>Book Name </th>
  			<th>ISBN number</th>
  			<th>Author</th>
  			<th>Edition</th>
  			<th>Publication</th>
            <th>Books available</th>
            <th>reserve book</th>
    	 </tr>
  		</thead>
  		<tbody>
    	 <% data.forEach(entry => { %>
      	  <tr>
        	<td><%= entry.b_id %></td>
        	<td><%= entry.book_name %></td>
        	<td><%= entry.isbn_number %></td>
        	<td><%= entry.author_name %></td>
        	<td><%= entry.book_edition %></td>
        	<td><%= entry.publication %></td>
            <td><%= entry.book_stocks %></td>
            <td><a href='/user_home/reserve/<%= entry.b_id %>'>Reserve</a></td>
      	  </tr>
    	 <% }) %>  		
    	</tbody>
	</table>
</body>
</html>